nav  {
    background-color: gray;
    list-style-type: none;
    padding: 0px;
    
}

nav li {
    display: inline-block; 
    font-size: 25px;
    padding: 0 50px;
}

img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.list {
    list-style-type: none;
    text-align: center;
    padding: 10px;
    
}

#form {
    
}
